<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/welcome.css">
    <title>{% block title %}{% endblock %}
    </title>
  </head>
  <body>
    <header>
      {% block form %}
      {% endblock %}
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      {% for category, message in messages %}
        <div id="flashes">
          {{ message}}
        </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </header>
    <div id="about">
      <pre>
        $> pwd
        /disconnect/
        $> man disconnect


        ### about disconnect ###
        disconnect – anonymous social network
        one can log in via telegram
        to obtain your login contact @NikonovBot
        disconnect keeps <span style='text-decoration: underline;'>nothing</span> about you
        <i>
        NO: email, password, name, IP
        YES: end-to-end encrypted messages
        </i>
        its just your <b>encrypted telegram uid</b>

      </pre>
      <iframe width="500px" height="166" scrolling="no" frameborder="no" style="margin: 50px;"src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/290355578&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </div>
    <footer>
      disconnect® by **** 2017
    </footer>
  </body>
</html>
